// Accordions
.accordion {
  border-top: 1px solid $lighter;
  margin-top: 20px;
}

// Accordion headers
.accordion-header {
  font-size: 1em;
  margin: 0;

  a {
    border: 1px solid $lighter;
    border-top: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    text-decoration: none;

    &[aria-expanded='true'] {
      color: $primary;

      .accordion-icon {
        transform: rotate(45deg);
      }
    }
  }

  .accordion-icon {
    color: $medium;
    transition: transform .3s ease;
  }
}

// Accordion panels
.accordion-panel {
  border: 1px solid $lighter;
  border-top: 0;
  padding: 15px 10px 25px;

  p {
    margin: 0;
  }

  &:not(.active) {
    display: none;
  }
}
